.Hero-container{
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.hero-text{
    margin: auto;
}
.hero-text h1{
    font-size: 2.5rem;
    color:#253858;
}
.hero-image{
    max-width: 80%;
}

.hero-button{
    padding: 10px 20px;
    background-color: #0052CC;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
}

@media(max-width: 1100px){
    .Hero-container{
        flex-direction: column;
        margin:20px 0px!important;
    }
    .hero-image{
        max-width: 90%;
    }
    .hero-text{
        margin: 0px;
        margin-bottom: 40px;
        height: auto;
        text-align: center;
    }
    .hero-text h1{
        margin: 0px;
        margin-bottom: 20px;
    }
}

@media(min-width: 1100px){
    .hero-text{
        max-width: 460px;
    }
}

.Feature-container{
    margin:0 5%;
}
.feature-text{
    width: 80%;
    text-align: center;
    margin: 80px auto;
}
.feature-text h1{
    color: #253858;
    font-size: 2rem;
    font-weight: 500;
}
.feature-text p{
    color: #253858;
    font-size: 1.3rem;
    font-weight: 00;
}
.f1{
    display: flex;
    flex-direction: row;
}
.f1-image{
    width: 55%;
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.6);
}
.f1-des{
    margin:auto 40px;
}
.f2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.f1-des h2{
    color: #253858;
}
.f1-des p{
    color: #253858;
    font-size: 1.4rem;
}
@media(max-width: 1100px){
    .Feature-container{
        margin:20px 10px;
    }

    .f1{
        flex-direction: column;
    }
    .f2{
        flex-direction: column-reverse;
    }

    .f1-image{
        width: 90%;
        margin: auto;
    }
   
}

.real_note{
    background-color: grey;
}

/*.Upload_file{
    background-color: pink;
    padding: 20px 40px;
}
*/
